* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
}

/* Utality Class */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    display: flex;
    gap: 4px;
    padding: 12px 16px;
    border-radius: 100px;
    border: none;
    color: #fff;
}

p {
    color: #c5c8cf;
}

.section h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

/* hr {
    height: 2px;
    background-color: #3e0e60;
    width: 100vw;
} */

/* HEADER STYLING */
header {
    background: #1a0b2e;
}

/* Navbar Styling */
nav {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1600px;
    padding: 16px 200px;
    border-bottom: 2px solid #3e0e60;
}

nav .logo h1{
    color: #fff;
    font-size: 32px;
}

.logo h1 span {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

/* Hero Styling */
.hero {
    width: 100vw;
    max-width: 1600px;
    background: url("assets/hero-bg.png") no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.hero .hero_container {
    gap: 40px;
}

.hero_container .hero_img {
    height: 350px;
    width: 350px;
    background: url("assets/hero-circle.png") no-repeat center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container .hero_content {
    gap: 24px;
}

.hero_content h1 {
    color: #fff;
    font-size: 3.8rem;
    font-weight: 900;
}


.hero_content .hero_btns {
    display: flex;
    gap: 8px;
}

.hero_btns .left_btn {
    width: 200px;
}

.hero_btns .right_btn {
    color: #00ff88;
    background: transparent;
    border: 2px solid #00ff88;
}

/* MAIN SECTION STYLING */
/* main {
    width: 100vw;
    max-width: 1600px;
} */

/* About Section Styling */
.about {
    width: 100%;
    padding: 50px 200px 120px 200px;
    background: #1a0b2e;
}

.about_container {
    justify-content: center;
}

.about_content {
    gap: 16px;
}

.about_content p {
    text-align: center;
    line-height: 20px;
}

.about_content p span {
    visibility: hidden;
}

.span_block {
    height: 1px;
    width: 100%;
    background: #3e0e60;
    margin: 80px 0;
}

.about_rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating_card {
    width: 240px;
    gap: 16px;
}

.rating_card h2 {
    color: #00ff88;
    font-size: 48px;
}

.rating_card p {
    text-transform: uppercase;
}

